/* Link Font Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container {
  height: 100vh;
  width: 100%;
  background-color: #303136;
  display: flex;
  align-items: center;
  justify-content: center;
}
.kalkulator {
  background-color: #171717;
  padding: 26px;
  border-radius: 20px;
}
input {
  width: 330px;
  padding: 25px;
  margin: 10px;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 45px;
  text-align: right;
  color: #fff;
}
input::placeholder {
  color: #fff;
}
button {
  border: none;
  outline: none;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  background-color: #303136;
  color: #fff;
  font-size: 21px;
  cursor: pointer;
  margin: 10px;
  font-weight: 600;
}
.hasil {
  width: 144px;
  color:#fff;
  background-color: #FF9500;
  font-weight: 700;
}
.main {
  background-color: #FF9500;
  color: #fff;
  font-weight: 400;
}
.operator {
  color: #ffffff;
  background-color: blueviolet;
}